@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// 1. Your custom variables and variable overwrites.
$inverse-logo-hover-color: rgba(white, .85);
$logo-font-size: 4rem;

// 2. Import default variables and available mixins.
@import "uikit/variables-theme";
@import "uikit/mixins-theme";

// 3. Your custom mixin overwrites.
@mixin hook-logo() {
    .logo-image {
        height: 1.5em;

        svg {
            height: 1.5em;
            vertical-align: top;
            width: 1.5em;
        }
    }
}

@mixin hook-inverse-logo() {
    .logo-image path {
        fill: $inverse-logo-color;
    }
}

@mixin hook-inverse-logo-hover() {
    .logo-image path {
        fill: $inverse-logo-hover-color;
    }
}

// 4. Import UIkit.
@import "uikit/uikit-theme";


body {
    font-family: 'Fira Sans', sans-serif;
}

.header {
    background: #df8e15 linear-gradient(to right, #df8e15, #df8e15 50%, #ee5a16 50%, #ee5a16);

    .header-nav {
        background: #df8e15 linear-gradient(to right, #df8e15, #df8e15 1.5em, #ee5a16);
    }
}
